name: Android CI

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Decode Google Services
        run: |
          echo $GOOGLE_SERVICES >> app/google-services.json
        shell: bash
        env:
          GOOGLE_SERVICES: ${{secrets.GOOGLE_SERVICES}}
      - name: Decode Keystore
        id: decode_keystore
        uses: timheuer/base64-to-file@v1.1
        with:
          fileDir: ./app/keystore
          fileName: 'keystore.jks'
          encodedString: ${{ secrets.KEYSTORE }}
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build APK
        run: ./gradlew app:assembleRelease
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}